table, th, td {
   border: 1px solid black;
} 
.cell, .job1, .job2, .job3, .job4, .job5, .job6, .job7, .job8, .job9, .job10{
	width: 15px;
	padding:2px;
	height: 15px;
}
.job0{ background: #81BEF7; } 
.job1{ background: #FE2E2E; } 
.job2{ background: #FE9A2E; } 
.job3{ background: #FACC2E; } 
.job4{ background: #F7FE2E; } 
.job5{ background: #2E9AFE; } 
.job6{ background: #FF0040; } 
.job7{ background: #A9F5E1; } 
.job8{ background: #FF4000; } 
.job9{ background: #DF7401; } 
.job10{ background: #04B404; } 
.job11{ background: #F5D0A9; } 
.job12{ background: #A9E2F3; } 
.job13{ background: #B404AE; } 
.job14{ background: #BCA9F5; } 
.job15{ background: #E0F8EC; } 
.job16{ background: #5E610B; } 
.job17{ background: #0101DF; } 
.job18{ background: #088A4B; } 
.job19{ background: #81BEF7; } 
.job20{ background: #FE2E2E; } 
.job21{ background: #FE9A2E; } 
.job22{ background: #FACC2E; } 
.job23{ background: #F7FE2E; } 
.job24{ background: #2E9AFE; } 
.job25{ background: #FF0040; } 
.job26{ background: #A9F5E1; } 
.job27{ background: #FF4000; } 
.job28{ background: #DF7401; } 
.job29{ background: #04B404; } 
.job30{ background: #F5D0A9; } 
.job31{ background: #A9E2F3; } 
.job32{ background: #B404AE; } 
.job33{ background: #BCA9F5; } 
.job34{ background: #E0F8EC; } 
.job35{ background: #5E610B; } 
.job36{ background: #0101DF; } 
.job37{ background: #088A4B; } 
.job38{ background: #81BEF7; } 
.job39{ background: #FE2E2E; } 
.job40{ background: #FE9A2E; } 
.job41{ background: #FACC2E; } 
.job42{ background: #F7FE2E; } 
.job43{ background: #2E9AFE; } 
.job44{ background: #FF0040; } 
.job45{ background: #A9F5E1; } 
.job46{ background: #FF4000; } 
.job47{ background: #DF7401; } 
.job48{ background: #04B404; } 
.job49{ background: #F5D0A9; } 
.job50{ background: #A9E2F3; } 
.job51{ background: #B404AE; } 
.job52{ background: #BCA9F5; } 
.job53{ background: #E0F8EC; } 
.job54{ background: #5E610B; } 
.job55{ background: #0101DF; } 
.job56{ background: #088A4B; } 
.job57{ background: #81BEF7; } 
.job58{ background: #FE2E2E; } 
.job59{ background: #FE9A2E; } 
.job60{ background: #FACC2E; } 
.job61{ background: #F7FE2E; } 
.job62{ background: #2E9AFE; } 
.job63{ background: #FF0040; } 
.job64{ background: #A9F5E1; } 
.job65{ background: #FF4000; } 
.job66{ background: #DF7401; } 
.job67{ background: #04B404; } 
.job68{ background: #F5D0A9; } 
.job69{ background: #A9E2F3; } 
.job70{ background: #B404AE; } 
.job71{ background: #BCA9F5; } 
.job72{ background: #E0F8EC; } 
.job73{ background: #5E610B; } 
.job74{ background: #0101DF; } 
.job75{ background: #088A4B; } 
.job76{ background: #81BEF7; } 
.job77{ background: #FE2E2E; } 
.job78{ background: #FE9A2E; } 
.job79{ background: #FACC2E; } 
.job80{ background: #F7FE2E; } 
.job81{ background: #2E9AFE; } 
.job82{ background: #FF0040; } 
.job83{ background: #A9F5E1; } 
.job84{ background: #FF4000; } 
.job85{ background: #DF7401; } 
.job86{ background: #04B404; } 
.job87{ background: #F5D0A9; } 
.job88{ background: #A9E2F3; } 
.job89{ background: #B404AE; } 
.job90{ background: #BCA9F5; } 
.job91{ background: #E0F8EC; } 
.job92{ background: #5E610B; } 
.job93{ background: #0101DF; } 
.job94{ background: #088A4B; } 
.job95{ background: #81BEF7; } 
.job96{ background: #FE2E2E; } 
.job97{ background: #FE9A2E; } 
.job98{ background: #FACC2E; } 
.job99{ background: #F7FE2E; } 
.job100{ background: #2E9AFE; } 
.job101{ background: #FF0040; } 
.job102{ background: #A9F5E1; } 
.job103{ background: #FF4000; } 
.job104{ background: #DF7401; } 
.job105{ background: #04B404; } 
.job106{ background: #F5D0A9; } 
.job107{ background: #A9E2F3; } 
.job108{ background: #B404AE; } 
.job109{ background: #BCA9F5; } 
.job110{ background: #E0F8EC; } 
.job111{ background: #5E610B; } 
.job112{ background: #0101DF; } 
.job113{ background: #088A4B; } 
.job114{ background: #81BEF7; } 
.job115{ background: #FE2E2E; } 
.job116{ background: #FE9A2E; } 
.job117{ background: #FACC2E; } 
.job118{ background: #F7FE2E; } 
.job119{ background: #2E9AFE; } 
.job120{ background: #FF0040; } 
.job121{ background: #A9F5E1; } 
.job122{ background: #FF4000; } 
.job123{ background: #DF7401; } 
.job124{ background: #04B404; } 
.job125{ background: #F5D0A9; } 
.job126{ background: #A9E2F3; } 
.job127{ background: #B404AE; } 
.job128{ background: #BCA9F5; } 
.job129{ background: #E0F8EC; } 
.job130{ background: #5E610B; } 
.job131{ background: #0101DF; } 
.job132{ background: #088A4B; } 
.job133{ background: #81BEF7; } 
.job134{ background: #FE2E2E; } 
.job135{ background: #FE9A2E; } 
.job136{ background: #FACC2E; } 
.job137{ background: #F7FE2E; } 
.job138{ background: #2E9AFE; } 
.job139{ background: #FF0040; } 
.job140{ background: #A9F5E1; } 
.job141{ background: #FF4000; } 
.job142{ background: #DF7401; } 
.job143{ background: #04B404; } 
.job144{ background: #F5D0A9; } 
.job145{ background: #A9E2F3; } 
.job146{ background: #B404AE; } 
.job147{ background: #BCA9F5; } 
.job148{ background: #E0F8EC; } 
.job149{ background: #5E610B; } 
.job150{ background: #0101DF; } 
.job151{ background: #088A4B; } 
.job152{ background: #81BEF7; } 
.job153{ background: #FE2E2E; } 
.job154{ background: #FE9A2E; } 
.job155{ background: #FACC2E; } 
.job156{ background: #F7FE2E; } 
.job157{ background: #2E9AFE; } 
.job158{ background: #FF0040; } 
.job159{ background: #A9F5E1; } 
.job160{ background: #FF4000; } 
.job161{ background: #DF7401; } 
.job162{ background: #04B404; } 
.job163{ background: #F5D0A9; } 
.job164{ background: #A9E2F3; } 
.job165{ background: #B404AE; } 
.job166{ background: #BCA9F5; } 
.job167{ background: #E0F8EC; } 
.job168{ background: #5E610B; } 
.job169{ background: #0101DF; } 
.job170{ background: #088A4B; } 
.job171{ background: #81BEF7; } 
.job172{ background: #FE2E2E; } 
.job173{ background: #FE9A2E; } 
.job174{ background: #FACC2E; } 
.job175{ background: #F7FE2E; } 
.job176{ background: #2E9AFE; } 
.job177{ background: #FF0040; } 
.job178{ background: #A9F5E1; } 
.job179{ background: #FF4000; } 
.job180{ background: #DF7401; } 
.job181{ background: #04B404; } 
.job182{ background: #F5D0A9; } 
.job183{ background: #A9E2F3; } 
.job184{ background: #B404AE; } 
.job185{ background: #BCA9F5; } 
.job186{ background: #E0F8EC; } 
.job187{ background: #5E610B; } 
.job188{ background: #0101DF; } 
.job189{ background: #088A4B; } 
.job190{ background: #81BEF7; } 
.job191{ background: #FE2E2E; } 
.job192{ background: #FE9A2E; } 
.job193{ background: #FACC2E; } 
.job194{ background: #F7FE2E; } 
.job195{ background: #2E9AFE; } 
.job196{ background: #FF0040; } 
.job197{ background: #A9F5E1; } 
.job198{ background: #FF4000; } 
.job199{ background: #DF7401; } 
.job200{ background: #04B404; } 
