table, th, td {
   border: 1px solid black;
} 
.cell, .job1, .job2, .job3, .job4, .job5, .job6, .job7, .job8, .job9, .job10{
	width: 15px;
	padding:2px;
	height: 15px;
}
.job0{ background: #FF1700; } 
.job1{ background: #FF3519; } 
.job2{ background: #FF6132; } 
.job3{ background: #FF9A4B; } 
.job4{ background: #FFF764; } 
.job5{ background: #FFC47D; } 
.job6{ background: #FFFE96; } 
.job7{ background: #FF8FAF; } 
.job8{ background: #FFEBC8; } 
.job9{ background: #FFB7E1; } 
.job10{ background: #FF8BFA; } 
.job11{ background: #F1C200; } 
.job12{ background: #F18C19; } 
.job13{ background: #F1BF32; } 
.job14{ background: #F1284B; } 
.job15{ background: #F1F564; } 
.job16{ background: #F1677D; } 
.job17{ background: #F1C796; } 
.job18{ background: #F19EAF; } 
.job19{ background: #F13AC8; } 
.job20{ background: #F16BE1; } 
.job21{ background: #F140FA; } 
.job22{ background: #E3BA00; } 
.job23{ background: #E3C919; } 
.job24{ background: #E3EE32; } 
.job25{ background: #E32E4B; } 
.job26{ background: #E3CB64; } 
.job27{ background: #E36E7D; } 
.job28{ background: #E31896; } 
.job29{ background: #E392AF; } 
.job30{ background: #E37AC8; } 
.job31{ background: #E3E6E1; } 
.job32{ background: #E36DFA; } 
.job33{ background: #D5A400; } 
.job34{ background: #D56819; } 
.job35{ background: #D5C232; } 
.job36{ background: #D5754B; } 
.job37{ background: #D56A64; } 
.job38{ background: #D5F77D; } 
.job39{ background: #D54896; } 
.job40{ background: #D5F1AF; } 
.job41{ background: #D5D5C8; } 
.job42{ background: #D52FE1; } 
.job43{ background: #D5D0FA; } 
.job44{ background: #C79700; } 
.job45{ background: #C71D19; } 
.job46{ background: #C7C932; } 
.job47{ background: #C76E4B; } 
.job48{ background: #C73664; } 
.job49{ background: #C7D47D; } 
.job50{ background: #C7A496; } 
.job51{ background: #C739AF; } 
.job52{ background: #C721C8; } 
.job53{ background: #C739E1; } 
.job54{ background: #C77EFA; } 
.job55{ background: #B9D600; } 
.job56{ background: #B97919; } 
.job57{ background: #B99732; } 
.job58{ background: #B9AB4B; } 
.job59{ background: #B9C864; } 
.job60{ background: #B9F87D; } 
.job61{ background: #B98F96; } 
.job62{ background: #B977AF; } 
.job63{ background: #B959C8; } 
.job64{ background: #B93DE1; } 
.job65{ background: #B9A4FA; } 
.job66{ background: #AB5500; } 
.job67{ background: #ABE619; } 
.job68{ background: #AB5732; } 
.job69{ background: #AB644B; } 
.job70{ background: #AB8064; } 
.job71{ background: #ABFB7D; } 
.job72{ background: #ABCF96; } 
.job73{ background: #AB55AF; } 
.job74{ background: #AB48C8; } 
.job75{ background: #AB95E1; } 
.job76{ background: #AB11FA; } 
.job77{ background: #9DE900; } 
.job78{ background: #9D3119; } 
.job79{ background: #9DD032; } 
.job80{ background: #9D644B; } 
.job81{ background: #9D5D64; } 
.job82{ background: #9D387D; } 
.job83{ background: #9D4296; } 
.job84{ background: #9DECAF; } 
.job85{ background: #9D40C8; } 
.job86{ background: #9DC4E1; } 
.job87{ background: #9D33FA; } 
.job88{ background: #8F2500; } 
.job89{ background: #8F9119; } 
.job90{ background: #8F4832; } 
.job91{ background: #8FDC4B; } 
.job92{ background: #8FBE64; } 
.job93{ background: #8F2E7D; } 
.job94{ background: #8F4F96; } 
.job95{ background: #8F61AF; } 
.job96{ background: #8F5EC8; } 
.job97{ background: #8FD4E1; } 
.job98{ background: #8F93FA; } 
.job99{ background: #81F100; } 
.job100{ background: #81C719; } 
.job101{ background: #81E132; } 
.job102{ background: #81174B; } 
.job103{ background: #81D064; } 
.job104{ background: #81547D; } 
.job105{ background: #81A796; } 
.job106{ background: #8169AF; } 
.job107{ background: #81CAC8; } 
.job108{ background: #81EFE1; } 
.job109{ background: #81E8FA; } 
.job110{ background: #73C500; } 
.job111{ background: #738E19; } 
.job112{ background: #736532; } 
.job113{ background: #73DA4B; } 
.job114{ background: #736364; } 
.job115{ background: #739B7D; } 
.job116{ background: #735696; } 
.job117{ background: #7334AF; } 
.job118{ background: #736CC8; } 
.job119{ background: #73FBE1; } 
.job120{ background: #73DEFA; } 
.job121{ background: #652100; } 
.job122{ background: #65C119; } 
.job123{ background: #65C432; } 
.job124{ background: #651B4B; } 
.job125{ background: #65A264; } 
.job126{ background: #653D7D; } 
.job127{ background: #65A096; } 
.job128{ background: #6506AF; } 
.job129{ background: #65E5C8; } 
.job130{ background: #6537E1; } 
.job131{ background: #653BFA; } 
.job132{ background: #575600; } 
.job133{ background: #573F19; } 
.job134{ background: #570932; } 
.job135{ background: #57814B; } 
.job136{ background: #574664; } 
.job137{ background: #57667D; } 
.job138{ background: #57ED96; } 
.job139{ background: #5744AF; } 
.job140{ background: #57D5C8; } 
.job141{ background: #57F9E1; } 
.job142{ background: #5743FA; } 
.job143{ background: #493B00; } 
.job144{ background: #49CA19; } 
.job145{ background: #49B932; } 
.job146{ background: #49774B; } 
.job147{ background: #49E264; } 
.job148{ background: #49CA7D; } 
.job149{ background: #49B396; } 
.job150{ background: #490AAF; } 
.job151{ background: #4929C8; } 
.job152{ background: #4967E1; } 
.job153{ background: #4996FA; } 
.job154{ background: #3B1300; } 
.job155{ background: #3BA519; } 
.job156{ background: #3B2032; } 
.job157{ background: #3B514B; } 
.job158{ background: #3BB464; } 
.job159{ background: #3BB07D; } 
.job160{ background: #3B6A96; } 
.job161{ background: #3BC8AF; } 
.job162{ background: #3BC3C8; } 
.job163{ background: #3B09E1; } 
.job164{ background: #3BB1FA; } 
.job165{ background: #2D8900; } 
.job166{ background: #2D3819; } 
.job167{ background: #2D2632; } 
.job168{ background: #2DD14B; } 
.job169{ background: #2DE164; } 
.job170{ background: #2D547D; } 
.job171{ background: #2DEF96; } 
.job172{ background: #2D46AF; } 
.job173{ background: #2D27C8; } 
.job174{ background: #2D26E1; } 
.job175{ background: #2DE3FA; } 
.job176{ background: #1FDD00; } 
.job177{ background: #1F8519; } 
.job178{ background: #1FF932; } 
.job179{ background: #1F614B; } 
.job180{ background: #1F2B64; } 
.job181{ background: #1F597D; } 
.job182{ background: #1FD596; } 
.job183{ background: #1F52AF; } 
.job184{ background: #1FDAC8; } 
.job185{ background: #1F0DE1; } 
.job186{ background: #1FD2FA; } 
.job187{ background: #11BF00; } 
.job188{ background: #112C19; } 
.job189{ background: #116232; } 
.job190{ background: #11604B; } 
.job191{ background: #11F364; } 
.job192{ background: #11B07D; } 
.job193{ background: #113D96; } 
.job194{ background: #11D9AF; } 
.job195{ background: #110CC8; } 
.job196{ background: #1135E1; } 
.job197{ background: #1139FA; } 
.job198{ background: #038900; } 
.job199{ background: #034019; } 
.job200{ background: #038032; } 
.job201{ background: #03504B; } 
.job202{ background: #031164; } 
.job203{ background: #03E77D; } 
.job204{ background: #035E96; } 
.job205{ background: #031AAF; } 
.job206{ background: #03E2C8; } 
.job207{ background: #0340E1; } 
.job208{ background: #036FFA; } 

